<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container p-5">
        <div class="d-flex align-items-center justify-content-between"> 
            <h1 class="text-primary">Course attendence</h1>
        </div>
        <div class="mt-5">
            {%if data %} 
                {% for date in data.keys() %} 
                    <h3>{{date}}</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>student id</td>
                                <td>student name</td>
                            </tr>
                        </thead>
                        <tbody >
                            {% for person in data[date]%}
                                <tr>
                                    <td>{{person.id}}</td>
                                    <td>{{person.name}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor%}
            {% else %} 
                <h4>no attendence in this course</h4>
            {%endif %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>