<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            list-style: none;
        }
    </style>
</head>
<body class="bg-light"> 
    {% include 'navbar.html' %}
    
    <div class="container">
        <div class="w-100 row my-5 py-4">
            <div class="col-sm-12 col-lg-6">
                <img src="{{main_image_url}}"  width="100%" class="rounded"/>
            </div>
            <div class="col-sm-12 col-lg-6 py-4">
                <h1 class="text-primary">AI Monitor Student</h1>
                <p class="mt-3" style="font-size: 20px;">
                    A smart AI-powered solution designed to simplify attendance tracking,
                    streamline course management, and provide deep insights through
                    detailed attendance analytics.
                </p>
            </div>
        </div>


        {% if courses%}
        <div class="my-5">
            <h3 class="text-capitalize mb-3">today's courses list</h3>
            <div class="row">
                {%for course in courses %} 
                <div class="col-md-4 col-lg-3 col-sm-12 my-2 p-1">
                    <div class="container border rounded p-4 bg-white" >
                        <h5 class="text-capitalize mb-3">{{course.name}}</h5>
                        <hr>
                        <div><i class="fa-solid fa-clock me-3"></i>{{course.hour}} </div>
                        <div><i class="fa-solid fa-calendar-days me-3"></i>Today </div>
                        
                        <div class="d-flex align-items-center justify-content-end">
                            <a class="btn btn-primary mt-2" href='{{url_for("detect" , course_id=course.id)}}'>
                                verify
                                <i class="fa-solid fa-clipboard-user"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                {%endfor%}
            </div>
        </div>
        {% else%} 
        <div class="col-sm-6">no courses today</div>
        {% endif %}
    </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html> 